@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('./images/foto\ fundo.png');
  background-color: #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.container__form {
  width: 80%;
  margin-left: 10%;
  position: absolute;
  z-index: 1;
}

.form_expenses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem 8.75rem;
  background-color: #E1E5EB;
  gap: 1.25rem;
}

.form_editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem 8.75rem;
  background-color: rgba(47,193,140, 0.9);
  gap: 1.25rem;
}

.form_editor > label {
  display: flex;
  gap: .9375rem;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
}

.form_expenses > label {
  display: flex;
  gap: .9375rem;
  align-items: center;
  color: #3485FF;
  font-weight: 700;
  font-size: 1.125rem;
}

.input__description {
  width: 18rem;
  height: 1.875rem;
  border-radius: .3125rem;
  border: 1px solid #3485FF;
  font-size: 14px;
  padding: 0 .3125rem;
  color: #0D114F;
}

.method__select {
  width: 9.375rem;
  border-radius: .3125rem;
  border: 1px solid #3485FF;
}

.tag__select {
  width: 9.6875rem;
  height: 1.875rem;
  border-radius: .3125rem;
  border: 1px solid #3485FF;
}

.value__input {
  width: 9.875rem;
  height: 1.875rem;
  border-radius: .3125rem;
  border: 1px solid #3485FF;
  padding: 0 .3125rem;
}

.method__select {
  width: 14.25rem;
  height: 1.875rem;
  border-radius: .3125rem;
  border: 1px solid #3485FF;
}

.currency__select {
  width: 5.6875rem;
  height: 1.875rem;
  border-radius: .3125rem;
  border: 1px solid #3485FF;
}

.container__btn {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  opacity: 0.85;
  box-shadow: -4px 9px 13px rgb(5 18 54 / 40%);
  border-radius: 0 0 .625rem .625rem;
}

.btn__add__expense {
  width: 20.625rem;
  height: 2.5rem;
  border-radius: .3125rem;
  border: 2px solid rgba(47,193,140);
  background-color: rgba(47,193,140);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .875rem;
}

.btn__add__expense:hover {
  font-size: 1rem;
  background-color: #3485FF;
  border: 2px solid #3485FF;
}

.btn__add__editor {
  width: 20.625rem;
  height: 2.5rem;
  border-radius: .3125rem;
  border: 2px solid #3485FF;
  background-color: #3485FF;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .875rem;
}

.btn__add__editor:hover {
  font-size: 1rem;
  background-color: rgba(47,193,140);
  border: 2px solid rgba(47,193,140);
}

@media screen and (max-width: 480px) {
  .form_expenses {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .form_expenses {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

}